In [2]:

import pandas as pd
import numpy as np

In [3]:
dates=pd.date_range("20190809",periods=32)
dates

DatetimeIndex(['2019-08-09', '2019-08-10', '2019-08-11', '2019-08-12',
               '2019-08-13', '2019-08-14', '2019-08-15', '2019-08-16',
               '2019-08-17', '2019-08-18', '2019-08-19', '2019-08-20',
               '2019-08-21', '2019-08-22', '2019-08-23', '2019-08-24',
               '2019-08-25', '2019-08-26', '2019-08-27', '2019-08-28',
               '2019-08-29', '2019-08-30', '2019-08-31', '2019-09-01',
               '2019-09-02', '2019-09-03', '2019-09-04', '2019-09-05',
               '2019-09-06', '2019-09-07', '2019-09-08', '2019-09-09'],
              dtype='datetime64[ns]', freq='D')

In [5]:
<class.'pandas.tseries.index.DateTimeIndex'>

SyntaxError: invalid syntax (<ipython-input-5-759adf99fc92>, line 1)

In [17]:
df=pd.DataFrame(np.random.randn(32),index=dates)
df

                   0
2019-08-09  1.562272
2019-08-10 -0.524881
2019-08-11 -1.240371
2019-08-12  0.508319
2019-08-13 -1.687500
2019-08-14 -0.551692
2019-08-15  0.590372
2019-08-16 -0.807946
2019-08-17  0.410223
2019-08-18  1.581465
2019-08-19  0.012679
2019-08-20  0.317127
2019-08-21  1.822528
2019-08-22 -1.765520
2019-08-23  0.614198
2019-08-24 -0.610172
2019-08-25  0.171291
2019-08-26  0.529959
2019-08-27 -0.585430
2019-08-28  0.848493
2019-08-29 -0.144565
2019-08-30 -0.326687
2019-08-31 -1.919390
2019-09-01 -0.231083
2019-09-02  0.206944
2019-09-03 -1.640817
2019-09-04  0.672020
2019-09-05  2.248141
2019-09-06 -0.664137
2019-09-07 -0.527812
2019-09-08 -0.503878
2019-09-09 -1.315319

In [18]:
df.transpose()

,2019-08-09 00:00:00,2019-08-10 00:00:00,2019-08-11 00:00:00,2019-08-12 00:00:00,2019-08-13 00:00:00,2019-08-14 00:00:00,2019-08-15 00:00:00,2019-08-16 00:00:00,2019-08-17 00:00:00,2019-08-18 00:00:00,...,2019-08-31 00:00:00,2019-09-01 00:00:00,2019-09-02 00:00:00,2019-09-03 00:00:00,2019-09-04 00:00:00,2019-09-05 00:00:00,2019-09-06 00:00:00,2019-09-07 00:00:00,2019-09-08 00:00:00,2019-09-09 00:00:00
0,1.562272,-0.524881,-1.240371,0.508319,-1.6875,-0.551692,0.590372,-0.807946,0.410223,1.581465,...,-1.91939,-0.231083,0.206944,-1.640817,0.67202,2.248141,-0.664137,-0.527812,-0.503878,-1.315319

In [11]:
df

                   0
2019-08-09  1.189788
2019-08-10 -0.897527
2019-08-11 -1.765759
2019-08-12 -0.588360
2019-08-13 -0.907919
2019-08-14 -0.090490
2019-08-15  0.452917
2019-08-16  1.297560
2019-08-17  0.611308
2019-08-18 -0.121629
2019-08-19  0.845626
2019-08-20  1.689142
2019-08-21  2.705666
2019-08-22 -0.434603
2019-08-23 -1.422434
2019-08-24  1.571566
2019-08-25 -0.856246
2019-08-26  1.277513
2019-08-27  0.294638
2019-08-28 -0.627114
2019-08-29 -0.268913
2019-08-30 -1.142149
2019-08-31 -0.129182
2019-09-01 -1.750139
2019-09-02 -0.825831
2019-09-03 -0.706723
2019-09-04  0.421817
2019-09-05  0.440596
2019-09-06 -0.365523
2019-09-07 -1.038336
2019-09-08  0.768026
2019-09-09  2.050989